* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
}

body {
    background-color: rgb(252, 196, 124);
} 

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: rgba(0,0,0,0.5);
}

nav div {
    display: flex;
    align-items: center;
}

nav img {
    width: 4rem;
}

nav h2 {
    color: #ddd;
    font-size: 1.3rem;
}

header{
    width: 100%;
    position: fixed;
    z-index: 999;
}
 
nav .nav__linkss{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


nav .nav__linkss ul{
    display: flex;
    list-style: none; 
}
nav .nav__linkss h2{
    color: #e1e1e1;
}
 
nav .nav__linkss ul li a{
    text-decoration: none;
    color: whitesmoke;
    margin-right: 2rem;
    font-family: sans-serif;
    letter-spacing: 1px;
    
}
.nav__linkss ul li a:hover{
    border-bottom:  1px solid whitesmoke;  
}

nav .nav__linkss button {
    border: none;
    text-decoration: none;
    background-color: rgb(#e1e1e1);
    color: black;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}

nav  .nav__linkss button:hover{
    background-color: #e1e1e1;
    color: black;
    transform: scale(1.1);
    transition: 0.3s;
}

.hamburger {
    display: none;
}

.hamburger .bar {
    background-color: #fff;
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3 ease-in-out;
    transition: all 0.3 ease-in-out;
}

/* ROW */
.row{
    width: 100%;
    min-height: 100vh;
    padding: 100px 0;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./images/B3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
}
.row .row-2{
    width: 80%;
    padding: 50px;
    margin: auto;
    text-align: center;
}
.row .row-2 h2{
    font-size: 3.5rem;
    margin-bottom: 1rem;
    color: #e1e1e1;

}
.row .row-2  p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #e1e1e1;
}
.row .row-2 button{
    margin-top: 2rem;
    border: none;
    text-decoration: none;
    background-color: #e1e1e1;
    color: black;
    padding:  10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px #fff;
}
.row .row-2 button:hover{
    background-color: #e1e1e1;
    color: black;
    transform: scale(1.1);
    transition: 0.4s;
    opacity: 60%;
}
 
/* About */
 
.about{
    padding: 100px 0;
    width: 100%;
    background-color: rgb(252, 196, 124);
    border-bottom: 1px solid #ddd;
}
.about h2{
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
}
.about .boo-1 .card-1 h3{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.about .boo-1 .card-1  p{
    font-size: 1.5rem;
    line-height: 2.5rem;
}  
.about .boo-1{
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    gap: 2rem;
    margin-top: 2rem;
}
 

/* Our */

.our{
    padding: 100px 0;
    background-color: rgb(252, 196, 124);
}
.our h2{
    text-align: center;
    font-size: 3rem;
}
.our h2 span{
    color: rgba(253,124,124);
}
.food{
    display: flex;
    width: 100%;
}
.food .food-card{
    text-align: center;
    margin: 1rem;
     
}
.food .food-card img{
    margin-bottom: 1rem;
    /* box-shadow: 6px 6px  6px #cbced1; */
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px #fff;
}

/* RAM */

.boo {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 100px;
    background-color: rgb(252, 196, 124);
}
.card-photo{
    width: 100%;
}


.boo .card-photo img {
    width: 100%;
   
}

 .boo .card h2{
     font-size: 2.5rem;
     text-align: center;
 }

.card .input input{
    margin-bottom: 1rem;
    padding: 10px;
    width: 100%;
    border: none;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px #fff;
}
.card .input input:focus{
    outline: none;
}
.boo .card .input textarea {
    border-radius: 2px;  
    width: 100%;
    border: none;
    padding: 10px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px #fff;
}
.boo .card .input textarea:focus{
    outline: none;
}
.card .input button{
    margin-top: 1rem;
    background-color: #fd7c7c;
    color:black;
    box-shadow: 5px 5px 5px  rgba(0,0,0,0.5);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 100px;
    font-size: 1rem;
    box-shadow: inset 6px 6px 6px #fd7c7c, inset -6px -6px 6px #db6b6b;
}
.card .input button:hover{
    transition: 0.3s;
    background-color: #db6b6b;
    color: black;
}  
/* .MAN MEN */
.man {
    text-align: center;
    padding: 100px ;
    background-color: rgb(252, 196, 124) ;
}
.room{
    display: flex;
    margin: auto;
    
}
.man .room img{
    margin: 2rem;
}
.man h2{
    font-size: 3rem;
}
 
/* footer */
footer{
    background-color: black;
    color: whitesmoke;
    padding: 50px 0;
}
footer .cntainer{
    display: flex;
}
.cont{
    margin: 2rem;
    padding: 30px ;
}
.cont h3{
    margin-bottom: 2rem;
}
.cont p{
    margin-bottom: 1rem;
    color: #aa9696;
}

/* -------responsive second------- */
@media (max-width: 900px) {
    nav .nav__linkss h2{
        font-size: 1rem;
        margin-right: 15rem;
    }

    nav .nav__linkss {
        flex-direction: column;
    }

    nav .nav__linkss ul {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    margin: auto;
    }

    nav h2{
        font-size: 1rem;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .nav__linkss.active {
        top: 0;
        left: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        background-color: #fff;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        background-color: #fff;
    }

    .nav__linkss {
        background-color: #000;
        position: fixed;
        left: -100%;
        top: -100%;
        min-height: 100vh;
        padding: 5rem 0;
        height: 100%;
        width: 50%;
        align-items: center;
    }

    nav .nav__linkss button {
        padding: 5px;
        
    }

    /* row */
    .row{
        min-height: 0;
    }

    .row .row-2{
        width: 100%;
    }
    .row .row-2 h2{
        font-size: 2.5rem;
    }
    .row .row-2 p{
        font-size: 1.2rem;
    }
   
    /* About */

     
    
    .boo-1 .card-1 img {
        width: 100%;

    }

    .about h2{
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .about .boo-1 .card-1 h3{
        margin-top: 1rem;
        font-size: 1.5rem;
        margin-bottom: 0.8rem;
    }
    .about .boo-1 .card-1  p{
        font-size: 1rem;
        line-height: 1.4rem;
        margin-bottom: 1rem;
    }  
    .about .boo-1{
        display: block;
        width: 100%;
    }
    .boo-1 .card-1{
         padding: 10px;
    }
     
    /* our */
     
    .our h2{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .food .food-card img{
        width: 100%;
        margin-bottom: 0.5rem;
    }
    .food .food-card{
        margin: 0.5rem;
    }
    .food{
        display: grid;
        
    }
    /* ram */ 
    .boo{
        display: block;
        padding: 100px 0;
    }


    .boo .card-photo{
        width: 100%;
        padding: 10px;
    }

    .card-photo .card{
        width: 80%;
        margin: auto;
    }
     

    .boo .card h2{
        font-size: 1.5rem;
        text-align: center;
        margin-top: 1rem;
    }
    .boo .card .input{
        width: 100%;
        margin-top: 1;
    }
    .boo .card .input input{
        margin-bottom: 0.5rem;
        padding: 2px;
    }
    .boo .card .input textarea {
        height:180px;
        border-radius: 2px;  
    }
    .card .input button{
        padding: 10px 50px;
    }
    
    /* man */
    .man{
        padding: 0;
    }
    .room{
        display: block;
    }
    .room .men img{
        width: 80%;
    }
    .man h2{
        font-size: 1.5rem;
    }
    .room .men h3{
        margin-bottom: 1rem;
       font-size: 1rem;
    }
    /* footer */
    footer{
        display: block;
    
    }
    footer .cntainer{
        display: block;
    }
}